.NewsItem {
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 24px;
  line-height: 150%;
}

.Block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Image {
  width: 100%;
  height: auto;
}

.CmsImage {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.Title {
  font-size: 28px;
  line-height: 120%;
}

.Subtitle {
  font-size: 28px;
  line-height: 120%;
}

.Description {
  font-size: 24px;
  line-height: 150%;
}

.List {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding-left: 36px;
  font-size: 24px;
  line-height: 150%;
}

.OrderedList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding-left: 36px;
  font-size: 24px;
  line-height: 150%;
}
