.Filter {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0 20px;
  flex-wrap: wrap;
  @media (min-width: 760px) {
    flex-wrap: nowrap;
  }
  @media (min-width: 1280px) {
    padding: 0;
    flex-wrap: nowrap;
  }
  
}

.FilterItem {
  width: 100%;
  @media (max-width: 760px) {
    &:nth-child(1) {
      width: 48%;
    }
    &:nth-child(2) {
      order: 2;
      width: 99%;
    }
    &:nth-child(3) {
      width: 49%;
    }
  }

}

.CheckboxWrap {
  padding: 8px 0;
  cursor: pointer;
}

@media (min-width: 760px) {
  .Filter {
   flex-wrap: nowrap;
   flex-direction: row;
  }
  .FilterItem {
    width: 33%;
  }
}