.Events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1440px) {
    gap: 64px;
  }
}

.HeadingBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;

  :last-child {
    display: none;
  }

  @media (min-width: 1440px) {
    margin-left: 40px;
  }
}

.Heading {
  font-size: 28px;
}

.ButtonsBlock {
  display: flex;
  gap: 16px;
}

.BottomButtons {
  display: flex;
  margin: 0 auto;
}

.Button {
  width: 270px !important;
}

.Cards {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-right: 0;
}

.Cards::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1025px) {
  .HeadingBlock {
    :last-child {
      display: flex;
    }
  }
  .Heading {
    font-size: 40px;
  }
  .Button {
    width: 210px !important;
  }
  .Cards {
    gap: 16px;
  }
  .BottomButtons {
    display: none;
  }
}

@media (min-width: 1440px) {
  .Cards {
    gap: 24px;
  }
}

.EmptyPlug {
  width: 12px;
  flex-shrink: 0;

  @media (min-width: 1025px) {
    display: none;
  }
}
