@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Wrap {
  width: 100%;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  padding-top: 24px;

  @media (min-width: 1025px) {
    padding-top: 63px;
  }

  @media (min-width: 1440px) {
    padding-top: 56px;
  }
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 0 20px;
  max-width: 1360px;

  @media (min-width: 1440px) {
    padding: 0;
  }
}

.MainInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-width: 335px;
  margin: 0 auto;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;

  @media (min-width: 1440px) {
    min-width: 1360px;
  }
}

.Title {
  font-size: 40px;

  @media (min-width: 1025px) {
    font-size: 148px;
  }
}

.Description {
  font-size: 18px;
  line-height: 24px;
  text-align: center;

  @media (min-width: 1025px) {
    font-size: 28px;
    line-height: 140%;
    width: 890px;
  }
}

.Image {
  width: 100%;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  animation-delay: 0s;

  @media (min-width: 1025px) {
    margin-top: -35px;
  }
}
