.EventCard {
  width: 320px;
  height: 192px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 16px;
  align-items: start;
  justify-content: start;
  background-color: var(--gray);
  border-radius: 16px;
  cursor: pointer;
}

.Dates {
  font-size: 18px;
  line-height: 24px;
}

.Title {
  font-size: 20px;
  line-height: 120%;
}

.Description {
  font-size: 15px;
  line-height: 120%;
}

