.Layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 375px;
  min-height: 100vh;
  height: 100%;
  padding-top: 68px;

  @media (min-width: 1440px) {
    padding-top: 96px;
  }
}

.Gray {
  background-color: var(--bg-black);
}
