@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.SchoolPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f4f3;
  height: 526px;
  position: relative;
  overflow: hidden;
  padding-top: 24px;
}

.HeadingBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.Heading {
  position: relative;
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 40px;
  padding: 0 20px 0;
  min-width: 350px;
  line-height: 1;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

.ButtonsBlockMobile {
  width: fit-content;
  display: flex;
  gap: 16px;
}

.Button {
  border-radius: 28px !important;
  padding: 13px 20px !important;
  width: 160px !important;
  height: 56px !important;
}

.Image {
  position: relative;
  height: 343px;
  width: auto;
  margin-top: 20px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 3s;
}

.ButtonsBlockWeb {
  display: none;
}

@media (min-width: 1024px) {
  .ButtonsBlockMobile {
    display: none;
  }
  .ButtonsBlockWeb {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 8px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: var(--upper-middle-z-index);
    position: absolute;
    bottom: 32px;

    svg {
      cursor: pointer;
    }
  }
  .Button {
    width: 215px !important;
  }
  .SchoolPhoto {
    height: 720px;
  }
  .Heading {
    color: #fdcf2b;
    font-size: 120px;
  }
  .Image {
    max-height: 570px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: auto;
    z-index: var(--middle-z-index);
  }
}

@media (min-width: 1440px) {
  .SchoolPhoto {
    height: 926px;
  }
  .Heading {
    font-size: 148px;
  }
  .Image {
    max-height: 800px;
  }
  .ButtonsBlockWeb {
    bottom: 40px;
  }
}
