.Form {
  display: block;
}

.Input {
  margin-top: 8px;
  display: block;
  padding: 12px;
  height: 48px;
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
  border-color: #cacaca;
  border-width: 1px;
  box-shadow: none;
  outline: 1px solid #cacaca;
  outline-offset: -1px;
}

.FieldLabel {
  width: 100%;
  font-size: 18px;
}

.FieldRow {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
}

.Button {
  padding: 13px 20px;
}

.Checkbox {
  width: 24px;
  height: 24px;
  border-color: #cacaca;
  border-radius: 4px;
  cursor: pointer;
}

.AgreementRow {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.Description {
  margin: 24px 0;
}

.Title {
  font-size: 28px;
  line-height: 120%;
  margin: 24px 0;

  @media (min-width: 1024px) {
    font-size: 40px;
  }

  @media (min-width: 1440px) {
    margin: 40px 0;
  }
}

.ContactsDescription {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;

  @media (min-width: 1440px) {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .Title {
    font-size: 40px;
    line-height: 120%;
  }
}

@media (min-width: 1440px) {
  .FieldRow {
    flex-direction: row;
  }
  .Description {
    display: none;
  }
}

.Select {
  margin-top: 8px;
}
