.MainWrap {
  display: flex;
  flex-direction: column;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 48px;
}

.PageContent {
  width: 100%;
  background-color: var(--bg-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContentWithPadding {
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;

  @media (min-width: 1025px) {
    padding: 0 40px;
    gap: 80px;
  }
}
