.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.Title {
  width: 100%;
  font-size: 28px;
  line-height: 120%;
  flex-shrink: 0;

  @media (min-width: 1025px) {
    font-size: 56px;
    width: 437px;
  }
}

.Column {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1025px) {
    gap: 40px;
  }
}

.Article {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 1025px) {
    gap: 64px;
    font-size: 24px;
    line-height: 150%;
  }
}

.Years {
  display: flex;
  gap: 100px;
}

.Year {
  font-size: 64px;
  line-height: 120%;

  @media (min-width: 1025px) {
    font-size: 80px;
  }
}

.FoundersBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.Founders {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: 1440px) {
    flex-direction: row;
  }
}

.Founder {
  display: flex;
  align-items: center;
  gap: 24px;
  min-width: 350px;
}

.FounderIcon {
  width: 92px;
  height: 92px;
}

.FounderInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Image {
  width: auto;
  border-radius: 8px;
}
