.Worldwide {
  margin: 0 auto;
  padding-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
  background: url('~app/assets/capo_map.svg') no-repeat;
  background-size: contain;
  background-position: center 5%;
  position: relative;
}

.Heading {
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}

.Subheading {
  font-size: 18px;
  line-height: 120%;
  text-align: center;
}

.Countries {
  padding-top: 16px;
  padding-right: 5%;
  display: flex;
  gap: 8px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: calc(50% + 50vw);
  overflow-x: auto;
}

.Countries::-webkit-scrollbar {
  display: none;
}

.Button {
  width: 100%;
  max-width: 334px;
  border-radius: 28px !important;
}

@media (min-width: 1025px) {
  .Worldwide {
    padding-top: 80px;
    gap: 40px;
    background-position: center 0;
  }

  .Button {
    width: auto;
  }

  .Heading {
    width: 100%;
    font-size: 56px;
  }

  .Subheading {
    font-size: 28px;
  }

  .Image {
    width: 100%;
  }

}

@media (min-width: 1440px) {
  .Groups {
    gap: 64px;
  }
}

.EmptyPlug {
  width: 12px;
  flex-shrink: 0;

  @media (min-width: 1025px) {
    display: none;
  }
}

.ArrowLeftIcon,
.ArrowRightIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  display: none;
}

.ArrowRightIcon {
  right: 10px;
}

.ArrowLeftIcon {
  left: 10px;
}

.Wrap {
  position: relative;
  width: 100%;
  max-width: 1360px;

  &:hover {
    .ArrowLeftIcon,
    .ArrowRightIcon {
      @media (min-width: 1360px) {
        display: block;
      }
    }
  }
}
