.Wrap {
  width: 100%;
  background-color: var(--gray-white);
  border-radius: 20px;
}

.Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 20px;
  gap: 40px;

  @media (min-width: 1025px) {
    padding: 40px 8%;
    gap: 55px;
  }
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.Quote {
  font-size: 20px;
  line-height: 120%;
  background-color: var(--gray-white);

  @media (min-width: 1025px) {
    font-size: 40px;
    line-height: 130%;
  }
}

.Name {
  font-size: 20px;
  line-height: 120%;
}

.Subtitle {
  font-size: 18px;
  line-height: 24px;
}

.Image {
  width: 91px;
  height: 100%;
}
