.Numbers {
  margin: 0 auto;
  display: flex;
  align-items: center;

  @media (min-width: 1025px) {
    width: 100%;
  }
}

.Panel {
  width: 100%;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  @media (min-width: 775px) {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
}

.Item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 160px;

  @media (min-width: 1025px) {
    width: 23.7%;
  }
}

.Caption {
  font-size: 18px;
  line-height: 24px;

  @media (min-width: 1025px) {
    font-size: 20px;
    line-height: 120%;
  }
}

.Value {
  font-size: 20px;
  line-height: 120%;
  word-break: keep-all;

  @media (min-width: 1025px) {
    font-size: 28px;
    line-height: 120%;
  }
}
