.Groups {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.Heading {
  width: 335px;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.Card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 20px 20px 0;
  gap: 16px;
  background-color: var(--gray);
  transition: background 0.3s ease;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.Card:hover {
  background-image: radial-gradient(circle at 80% 90%, #fde74c 0%, #f6f4f3 80%);
}

.ArrowRight {
  position: absolute;
  right: 16px;
  bottom: 16px;
  cursor: pointer;
}

.ArrowCircle {
  display: none;
}

.InfoWrap {
  display: flex;
  flex-direction: column;
  gap: 11px;
  text-align: left;
}

.Title {
  font-size: 20px;
  line-height: 120%;
}

.Description {
  display: none;
}

.Image {
  svg {
    width: 100%;
    height: 140px;
  }
}

@media (min-width: 1024px) {
  .Groups {
    padding: 0 20px;
    gap: 40px;
  }

  .Grid {
    gap: 16px;
  }

  .Heading {
    width: 100%;
    font-size: 56px;
    line-height: 120%;
  }

  .Card {
    padding: 24px 24px 0;
    gap: 24px;
  }

  .ArrowRight {
    display: none;
  }

  .ArrowCircle {
    display: flex;
    position: absolute;
    right: 16px;
    bottom: 16px;
    cursor: pointer;
  }

  .Title {
    font-size: 28px;
    line-height: 120%;
  }

  .Description {
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .Groups {
    gap: 64px;
  }

  .Grid {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      'a b d'
      'c c d';
  }

  .Grid > *:nth-child(1) {
    grid-area: a;
  }
  .Grid > *:nth-child(2) {
    grid-area: b;
  }
  .Grid > *:nth-child(3) {
    grid-area: c;
  }
  .Grid > *:nth-child(4) {
    grid-area: d;
  }

  .Card:nth-child(3) {
    flex-direction: row;
    gap: 0px;
    :first-child {
      margin-right: -150px;
    }
  }
}
