.Groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin: 0 auto;
}

.Heading {
  width: 335px;
  font-size: 28px;
  line-height: 120%;
  text-align: center;
}

.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.Card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 20px;
  gap: 16px;
  background-color: var(--gray);
  border-radius: 20px;
  cursor: pointer;
}

.Title {
  font-size: 20px;
  line-height: 120%;
}

.Description {
  display: none;
}

.Image {
  width: 100%;
  height: auto;
}

@media (min-width: 1024px) {
  .Groups {
    padding: 0 20px;
    gap: 40px;
  }

  .Grid {
    gap: 16px;
  }

  .Heading {
    width: 100%;
    font-size: 56px;
    line-height: 120%;
  }

  .Card {
    padding: 24px;
    gap: 24px;
  }

  .Title {
    font-size: 28px;
    line-height: 120%;
  }

  .Description {
    display: flex;
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 1440px) {
  .Groups {
    gap: 64px;
  }

  .Grid {
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
      'a b d'
      'c c d';
  }

  .Grid > *:nth-child(1) {
    grid-area: a;
  }
  .Grid > *:nth-child(2) {
    grid-area: b;
  }
  .Grid > *:nth-child(3) {
    grid-area: c;
  }
  .Grid > *:nth-child(4) {
    grid-area: d;
  }
}
