.PageWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  max-width: 1440px;
  margin: 0 auto;

  @media (min-width: 1025px) {
    gap: 100px;
    padding: 0 40px;
  }
}

.ContentWithPadding {
  padding: 0 20px;
}
