.WebWrap {
  display: none;

  @media (min-width: 1024px) {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  * {
    cursor: pointer;
  }
}

.Choosed {
  border-bottom: 2px solid var(--black);
}

.MobileSelector {
  @media (min-width: 1024px) {
    display: none;
  }
}
