.FilialCard {
  position: relative;
  margin: 0 auto;
  padding: 24px 0;
  border-bottom: 1px solid #ECECEC;
}

.FilialCardActive {
  background-color: #ECECEC;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 100%;
    top: 0;
    background-color: #ECECEC;
  }

  .ScheduleToggle {
    margin-top: 24px;
      &::after {
      top: 2px;
      transform: rotate(135deg);
    }
  }
}

.Head {
  margin-bottom: 8px;
  font-size: 20px;
}

.Address {
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.AddressIcon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
}

.Coach {
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
    &::before {
    content: '';
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    background: url('~app/assets/user.svg') no-repeat;
    background-size: contain;
  }
}

.ScheduleWrap {
  display: flex;
  gap: 8px;
}

.ScheduleItem {
  width: 96px;
}

.ScheduleWeekDay {
  margin-bottom: 10px;
  font-size: 20px;
}

.ScheduleGroup {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
}

.ScheduleTime {
  font-size: 12px;
}

.ScheduleTime:not(:last-child) {
  margin-bottom: 4px;
}

.ScheduleToggle {
  margin-top: 16px;
  cursor: pointer;
  color: #256EFF;
  font-size: 14px;
  position: relative;

  &::after {
    content: '';
    position: relative;
    margin-left: 8px;
    display: inline-block;
    width: 8px;
    top: -2px;
    height: 8px;
    border-bottom: 2px solid #256EFF;
    border-left: 2px solid #256EFF;
    transform: rotate(-45deg);
    transition: transform 0.4s ease;
  }
}