.FilialCard {
  position: relative;
  margin: 0 auto;
  padding: 24px 20px;
  border-bottom: 1px solid #ECECEC;
  scroll-snap-align: start;

  @media (min-width: 1280px) {
    padding: 24px 0;
    padding-left: 40px;
  }

  &:hover .Button {
    opacity: 1;
  }
}

.FilialCardActive {
  background-color: #ECECEC;

  .Button {
    opacity: 1;
  }
  /* &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    right: 100%;
    top: 0;
    border-bottom: 1px solid #fff;
    background-color: #fff;
  } */

  .ScheduleToggle {
    margin-top: 24px;
      &::after {
      top: 2px;
      transform: rotate(135deg);
    }
  }
}

.Head {
  margin-bottom: 8px;
  font-size: 20px;
}

.Address {
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.AddressIcon {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  flex-shrink: 0;
}

.Coach {
  margin-bottom: 8px;
  font-size: 14px;
  display: flex;
    &::before {
    content: '';
    margin-right: 8px;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 100%;
    background: url('~app/assets/user.svg') no-repeat;
    background-size: contain;
  }
}

.HeaderWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  @media (min-width: 1280px) {
    padding-right: 40px;
  }
}

.Button {
  @media (min-width: 1280px) {
    opacity: 0;
  }
  transition: opacity 0.4s ease;
}

.ScheduleWrap {
  display: flex;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.ScheduleItem {
  width: 40px;
  @media (min-width: 760px) {
    display: block;
    width: 86px;
  }
}

.ScheduleWeekDayDisabled {
  color: #959595;
}

.ScheduleWeekDay {
  margin-bottom: 10px;
  font-size: 18px;
  @media (max-width: 760px) {
    height: 100%;
    text-align: center;
    padding-top: 7.5px;
  }
  @media (min-width: 760px) {
    display: block;
    font-size: 20px;
    font-weight: bold;
    width: 86px;
  }
}

.ScheduleGroupsMobileRow {
  display: flex;
  justify-content: space-between;
}

.ScheduleWeekDayActive {
  @media (max-width: 760px) {
    color: #fff;
    background-color: #000;
    border-radius: 100%;
  } 
}

.ScheduleGroupsMobile {
  @media (min-width: 760px) {
    display: none;
  }
}

.ScheduleGroups {
  display: none;

  @media (min-width: 760px) {
    display: block;
  }
}

.ScheduleGroup {
  margin-top: 10px;
  margin-bottom: 4px;
  font-size: 12px;
}

.ScheduleTime {
  font-size: 12px;
}

.ScheduleTime:not(:last-child) {
  margin-bottom: 4px;
}

.ScheduleToggle {
  margin-top: 16px;
  cursor: pointer;
  color: #256EFF;
  font-size: 14px;
  position: relative;

  &::after {
    content: '';
    position: relative;
    margin-left: 8px;
    display: inline-block;
    width: 8px;
    top: -2px;
    height: 8px;
    border-bottom: 2px solid #256EFF;
    border-left: 2px solid #256EFF;
    transform: rotate(-45deg);
    transition: transform 0.4s ease;
  }
}

.BottomButton {
  width: 100%;
  flex-shrink: 1;
}


.IconCallButton {
  cursor: pointer;
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  flex-grow: 1;
  margin-left: 10px;
  @media (min-width: 1280px) {
    display: none;
  }
}

.ButtonWrap {
  display: none;
  @media (min-width: 1025px) {
    display: flex;
  }
}

.ButtonBottomWrap {
  margin-top: 16px;
  display: flex;
  @media (min-width: 1025px) {
    display: none;
  }

}