.Groups {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Title {
  font-size: 20px;
  line-height: 120%;

  @media (min-width: 1025px) {
    font-size: 28px;
  }
}

.Tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.Tag {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  border-radius: 40px;
  background-color: var(--gray-white);
  font-size: 12px;
  line-height: 120%;
}
