.Footer {
  padding-top: 48px;
  padding-bottom: 16px;
  width: 100%;
}

.InnerContainer {
  margin: 0 auto;
  max-width: 1360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #444;
  font-size: 14px;
  line-height: 120%;
}

.Copyright {
  margin-bottom: 12px;
  font-size: 14px;
}

.Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.Links {
  display: flex;
  gap: 12px;
  justify-content: center;

  svg {
    cursor: pointer;
  }
}

.SocialLink {
  display: block;
}

@media (min-width: 560px) {
  .Footer {
    padding: 40px 20px;
  }

  .InnerContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .Socials {
    flex-direction: row;
    align-items: center;
    gap: 6px;
  }

  .Links {
    margin-left: 6px;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .Footer {
    padding-left: 0;
    padding-right: 0;
  }
}

.Dark {
  background-color: var(--bg-black);
}

.Light {
  color: var(--white);
}
