.HeaderWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  width: 100%;
}

.Light .Header {
  color: #fff;
}
.Light .Contents p {
  color: #fff;
}
.Light .Contents a {
  color: inherit;
}

.GrayBg {
  background: var(--gray);
}
.WhiteBg {
  background: var(--white);
}
.TransparentBg {
  background: transparent;
}

.Header {
  display: flex;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  color: #444;
  padding: 10px 20px;
}

.Active {
  position: relative;
}
.Active::before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #fdcf2b;
  border-radius: 2px;
}

.ContentWrapper,
.Contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.Contents p {
  cursor: pointer;
  transition: text-shadow 0.2s ease;
}

.ContentWrapper svg {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.MobileMenu {
  cursor: pointer;
}

@media (min-width: 1440px) {
  .Header {
    padding: 16px 40px;
  }

  .ContentWrapper svg {
    width: 64px;
    height: 64px;
  }

  .MobileMenu {
    display: none;
  }
}
