.HeaderWrap {
  width: 100vw;
  display: flex;
  background: var(--gray);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.Header {
  display: flex;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  color: #444;
  padding: 20px;

  p {
    font-size: 18px;
  }
}

.Active {
  box-shadow: 0px 4px #FDCF2B;
}

.ContentWrapper,
.Contents {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.Contents {
  p {
    cursor: pointer;
    transition: text-shadow 0.2s ease;
  }
  p:hover {
  text-shadow:
    0.3px 0 currentColor,
    -0.3px 0 currentColor,
    0 0.3px currentColor,
    0 -0.3px currentColor;
}
}

.ContentWrapper {
  svg {
    width: 48px;
    height: 48px;
    cursor: pointer;
  }
}

@media (min-width: 1440px) {
  .Header {
    padding: 16px 40px;
  }

  .ContentWrapper svg {
    width: 64px;
    height: 64px;
  }
}
