.Tabs {
  display: block;
}

.TabItem {
  position: relative;
  padding: 16px 0;
  padding-right: 24px;
  border-bottom: 1px solid #ECECEC;

  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.TabText {
  font-size: 18px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}